.p1{
    text-indent: 50px;
    padding: 20px 40px;
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.p2{
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.p3{
    padding: 20px 40px;
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.p4{
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.dyer{
    border: 5px;
    float: right; 
    margin: 3px 12px 6px 0px; 
    border: 7px solid #000000;
}

.perseus2{
    border: 5px;
    float: left; 
    margin: 3px 12px 6px 0px; 
    border: 7px solid #000000;
}

.header{
    font-size: 50px;
}

.data05{
    border: 5px;
    border: 6px solid #000000;
}

figcaption{
    font-size: 15px;
    position: relative;
}